 <div>
  <div>
    <%= image_tag "coffe.jpg", size: "200x300" %>
  </div>
    
    <a href="/user_sign_up">
      <button>Sign up</button>
    </a>
          
    <h5> Already have an account?</h5>

    <a href="/user_sign_in">
    <button>Sign in</button>
    </a>
</div>      
        
<hr>
