<div>
  <div>
  
  <%= image_tag "coffe.jpg", size: "200x300" %>

    <p>
      WELCOME TO
    </p>

    <p class="sketch-text" , >COMIC STRIP</p>
    <a href="/account">Continue -></a>
  </div>
</div>
