
<div class="container">
 
 
    <div class="card-footer">
      <div class="row py-2 d-flex align-items-center text-center">
        <div class="col">
 
       <div>
  <div>
    <%= image_tag "coffe.jpg", size: "200x300" %>
  </div>

    <div class="card-footer">
          <div class="row py-2 d-flex align-items-center text-center">
            <div class="col">


<form action="/user_verify_credentials" method="post">
  <div>
    <i class="fa-regular fa-envelope" style="color: #172844;"></i>
    <input id="email_box" name="query_email" placeholder="Email address" type="text" 
  </div>
   
  <div>
    <i class="fa-solid fa-lock"></i>
    <input id="password_box" name="query_password" placeholder="Password" type="password">
  </div>

  <button>
    Sign in
  </button>
</form>

<hr>

<p>
  Or, <a href="/user_sign_up">Sign up</a> instead.
</p>
